/* Sets the background image for the body */
body {
    background-image: url('https://images.ctfassets.net/rporu91m20dc/6JBpX4behqXJjJtnhROzUd/3e9539c880a6d137e583f921bde98bec/ION_paper_800px.png');
    margin: 0;
    /* removes the default margin */
    padding: 0;
    /* removes the default padding */
    overflow-x: hidden;
    /* prevents horizontal scrolling */
    scroll-behavior: smooth;
    /* adds smooth scrolling behavior to the web page */
}

/* Styles for the navigation bar at the top of the page */
nav {
    background-color: #494949;
    display: flex;
    justify-content: space-between;
    /* aligns items to the right with space between */
    align-items: center;
    /* centers the items vertically  */
    padding: 10px;
    /* adds padding for better spacing  */
    width: 100%;
    /* makes sure the nav bar stays the same size */
    height: 70px;
    /* adds fixed height for the navigation bar */
    position: relative;
    /* sets nav bar position to relative */
    overflow: hidden;
    /* hid the overflow of the starfield logo */
    z-index: 1;
    /* ensures the nav bar is above other content */
}
    /* Styles for the h1 container housing all the anchor navigation tags */
    nav h1 {
        display: flex;
        /* used flexbox for the anchor tags */
        justify-content: flex-end;
        /* aligned the anchor tags to the right */
        flex-grow: 1;
        /* allowed the anchor tags to take up remaining space in container */
        transform: translateX(-2%);
        /* pushes the h1 elements in the nav to the left 2% on the x-axis */
    }

    /* Styles for the anchor tags inside the navigation */
    nav a {
        font-family: "Univers LT Std 63 Bold Extended", "Open Sans", "Noto Sans Japanese", "Arial Black";
        font-weight: 50;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        padding: 10px;
        margin: 5px;
    }

        /* Styles hover effect for nav anchors */
        nav a:hover {
            text-decoration: underline;
        }

/* Styles for the logo image */
.logo {
    width: 200px;
    /* adjusted the width of the logo */
    height: 200px;
    /* adjusted the height of the logo */
    position: absolute;
    /* set position to absolute - relative to parent nav bar now */
    top: 50%;
    /* aligned the logo to the middle of the nav bar */
    transform: translateY(-50%);
    /* pushes the logo upwards 50% on the y-axis to center it in the nav */
}


/* Styles for the hover effect on the home anchor */
#home:hover {
    color: #d4ac64;
    /* sets color for nav anchor */
}

/* Styles for the hover effect on the about anchor */
#about:hover {
    color: #cc2434;
    /* sets color for nav anchor */
}

/* Styles for the hover effect on the planets anchor */
#planets:hover {
    color: #e46434;
    /* sets color for nav anchor */
}

/* Styles for the hover effect on the ships anchor */
#ships:hover {
    color: #477a80;
    /* sets color for nav anchor */
}

/* Styles for the hover effect on the characters anchor */
#characters:hover {
    color: #d4ac64;
    /* sets color for nav anchor */
}

#toph2 {
    font-family: "Univers LT Std 63 Bold Extended", "Open Sans", "Noto Sans Japanese", "Arial Black";
    text-transform: uppercase;
    text-decoration: underline;
    display: flex;
    /* puts the h2 element in a flex container */
    justify-content: flex-start;
    /* aligns the h2 element to the left within its container */
    transform: translateX(5%);
    /* pushes the h2 element to the right 5% on the x-axis */
}

/* Styles for the hover effect for the descendant of the tophead class */
.tophead > #toph2:hover {
    color: #d4ac64;
    /* sets color for the hovered h2 element */
}

#topimage {
    width: 90vw;
    /* sets width relative to viewport width */
    transform: translateX(5%);
    /* pushes the image element to the right 5% on the x-axis to center it */
    height: auto;
    /* maintains aspect ratio when zooming out */
    transition: transform 1s ease, filter 0.5s ease;
    /* add transition for grayscale effect */
    filter: grayscale(70%);
    /* apply grayscale filter to the image */
}

    #topimage:hover {
        filter: grayscale(0%);
        /* remove grayscale filter on hover */
    }

/* Styles for the about section */
.about-section {
    background-color: dimgray;
    border-radius: 20px;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for the about header */
#about-header {
    font-weight: 700;
    font-family: "Crimson Pro Regular", "Merriweather Regular", "Noto Sans Japanese", "Georgia";
    font-size: 24px;
    color: white;
    margin-top: 5px;
    /* adds margin to top to separate from content */
    padding: 0%;
    text-decoration: underline;
    /* adds underline to about */
}

    #about-header:hover {
        color: #cc2434;
        /* adds color to about when hovered */
        text-decoration: none;
    }

/* Styles for all content in the about section */
.about-section .content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* aligns content to the baseline */
    margin-top: 1px;
    /* adds margin to separate from header */
    margin-bottom: 15px;
    /* extends content div from bottom */
}

/* Styles for the image in the about section */
#about-img {
    width: 40vw;
    height: auto;
    align-self: flex-start;
    /* aligns the image to the left */
    margin: 0 50px 0 0;
    /* adds margin on the right side of image */
    padding: 1%;
    /* adds 1% padding all around image as a whole */
    transition: border-radius 0.5s ease;
    /* smooth transition over 0.5 seconds with ease timing function */
}

    /* Styles for the hover effect on the about image */
    #about-img:hover {
        border-radius: 70px;
    }

/* Styles for the paragraph text in the about section */
.about-section p {
    width: 40vw;
    height: auto;
    color: white;
    margin: 15px 29px 0 0;
    /* adds margin on the top and right side of image */
    padding: 0%;
    font-size: 17px;
    font-family: "Crimson Pro Regular", "Merriweather Regular", "Noto Sans Japanese", "Georgia";
    text-indent: 20px;
    /* adjusts the indent size of text */
    text-align: justify;
    /* aligns text to justify evenly */
}

/* Styles for the planet section */
.planet-section {
    background-color: dimgrey;
    width: 90vw;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for the header in the planet section */
#planet-header {
    color: white;
    font-weight: 700;
    font-family: "Crimson Pro Regular", "Merriweather Regular", "Noto Sans Japanese", "Georgia";
    font-size: 24px;
    margin-top: 5px;
    /* adds margin to top to separate from content */
    padding: 0%;
    text-decoration: underline;
}

    #planet-header:hover {
        text-decoration: none;
        color: #e46434;
    }

/* Styles for the paragraphs and ordered list in the planet section */
.planet-section .contentp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    text-align: justify;
    /* align text to justify evenly */
}

.text-planet {
    width: 50vw;
    margin: 0 20px 20px -25px;
    /* adds margin on the right, bottom, and left side of image */
}

.image-planet {
    width: 47VW;
    align-self: flex-end;
    /* aligns the image to the right */
    margin: 0 -40px 10px 0;
    /* adds margin on the right and bottom side of image */
    padding: 1%;
    /* adds 1% padding all around image as a whole */
}

/* Styles for the image in the planet section */
#planet-img {
    width: 100%;
    height: auto;
    transition: transform 1s ease;
    /* smooth transition over 1 seconds with ease timing function */
}

    /* Styles for the hover effect on the planet image */
    #planet-img:hover {
        transform: translateY(-10px) rotateX(8deg) rotateY(25deg);
        /* adjust the values (-10px, 8deg, 25deg) as needed to control the lift and rotation making the image appear to turn */
        transition: transform 0.7s ease;
        /* smooth transition over 0.7 seconds with ease timing function */
    }

/* Styles for the paragraph text in the planet section */
#planet-p1 {
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Crimson Pro Regular", "Merriweather Regular", "Noto Sans Japanese", "Georgia";
    text-indent: 20px;
    /* adjusts the indent size for the text */
    text-align: justify;
    /* aligns text to justify evenly */
}

/* Styles for the ordered list in the planet section */
.planet-section ol {
    color: white;
    font-size: 15px;
    text-indent: 10px;
    /* adjusts the indent size to the text */
}

#planet-p2 {
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Crimson Pro Regular", "Merriweather Regular", "Noto Sans Japanese", "Georgia";
    text-align: justify;
    /* align text to justify evenly */
}


/* Styles for the ships section */
.ship-section {
    background-color: dimgrey;
    width: 90vw;
    border-radius: 20px;
    margin: 0 auto;
    /* sets top and bottom margin to 0 pixels and applies equal margin on left and right side */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for the header in the ships section */
#ship-header {
    color: white;
    font-weight: 700;
    font-family: "Crimson Pro Regular", "Merriweather Regular", "Noto Sans Japanese", "Georgia";
    font-size: 24px;
    margin-top: 5px;
    /* adds margin to separate from content */
    padding: 0%;
    text-decoration: underline;
}

    #ship-header:hover {
        text-decoration: none;
        color: #477a80;
    }

/* Styles for the paragraphs and ordered list in the ships section */
.ship-section .contentship {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    text-align: justify;
    /* aligns text to justify evenly */
}

.image-stack {
    width: 47VW;
    align-self: flex-start;
    /* aligns the image to the left */
    margin: 0 20px 28px -10px;
    /* adds margin on the right, bottom, and left side of image */
    padding: 1%;
    /* adds padding all around image as a whole */
}

/* Styles for the image in the ships section */
#ship-img {
    width: 100%;
    width: 40vw;
    height: auto;
    transition: transform 1s ease;
    /* smooth transition over 1 seconds with ease timing function */
}

    /* Styles for the hover effect on the ship image */
    #ship-img:hover {
        transform: translateY(-20px) rotateX(-8deg) rotateY(21deg);
        /* adjust the values (-20px, -8deg, 21deg) as needed to control the lift and rotation making the image appear to turn */
        transition: transform 0.7s ease;
        /* smooth transition over 0.7 seconds with ease timing function */
    }

/* Styles for the image in the ships section */
#ship-edit-img {
    width: 100%;
    width: 40vw;
    height: auto;
    transition: transform 1s ease;
    /* smooth transition over 1 seconds with ease timing function */
}

    /* Styles for the hover effect on the ship image */
    #ship-edit-img:hover {
        transform: translateY(20px) rotateX(-8deg) rotateY(19deg);
        /* adjusts the values (20px, -8deg, 19deg) as needed to control the lift and rotation making the image appear to turn */
        transition: transform 0.7s ease;
        /* smooth transition over 0.7 seconds with ease timing function */
    }

.text-ship {
    width: 70vw;
    margin: 0 0 40px 15px;
    /* adds margin on the bottom and left side of image */
    flex-grow: 1;
    /* allows the text to grow to fill the available space */
}

/* Styles for the paragraph text in the ship section */
#ship-p1 {
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Crimson Pro Regular", "Merriweather Regular", "Noto Sans Japanese", "Georgia";
    text-indent: 20px;
    /* adjusts the indent size of the text */
    text-align: justify;
    /* aligns text to justify evenly */
}

/* Styles for the ordered list in the ship section */
.ship-section ol {
    color: white;
    font-size: 15px;
    text-indent: 10px;
    /* adjusts the indent size of the text */
}

#ship-p2 {
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Crimson Pro Regular", "Merriweather Regular", "Noto Sans Japanese", "Georgia";
    text-align: justify;
    /* aligns text to justify evenly */
}

/* Styles for the characters section */
.chara-section {
    background-color: dimgrey;
    width: 90vw;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for the header in the characters section */
#chara-header {
    color: white;
    font-weight: 700;
    font-family: "Crimson Pro Regular", "Merriweather Regular", "Noto Sans Japanese", "Georgia";
    font-size: 24px;
    margin-top: 5px;
    /* adds margin to the top to separate from content */
    margin-bottom: -2px;
    /* deletes bottom margin by -2 pixels */
    padding: 0%;
    text-decoration: underline;
}

    #chara-header:hover {
        text-decoration: none;
        color: #d4ac64;
    }

.rowpara {
    text-align: center;
    /* center-aligns the paragraph */
    margin-bottom: 10px;
    /* adds some bottom margin for spacing */
    padding: 0%;
}

    .rowpara p {
        color: white;
        font-size: 19px;
        /* changes font size to 19 pixels */
        text-align: justify;
    }

/* Styles for the paragraphs and ordered list in the characters section */
.contentchara {
    display: flex;
    flex-direction: column; 
    /* stacks the paragraph and images vertically */
    justify-content: space-evenly; 
    /* adjusts the spacing between each image evenly */
    align-items: center;
    width: 100%; 
    /* makes sure the content takes up the full width */
}

.image-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    /* adjusts the spacing between images */
    align-items: center;
    width: 95%; 
    /* makes sure the row takes up 95% of the width */
    padding: 0; 
    /* removes padding */
    margin-bottom: 25px; 
    /* removes bottom margin by 25 pixels */
}

/* Styles for the image in the character section */
#vasco-img {
    width: 80%;
    width: 15vw;
    height: auto;
    justify-content: flex-start;
    flex-direction: row;
    transition: transform 1.5s ease;
    /* 1.5 second ease when mouse is moved off of image */
}

/* Styles for the image in the character section */
#sam-img {
    width: 80%;
    width: 15vw;
    height: auto;
    justify-content: flex-start;
    flex-direction: row;
    transition: transform 1.5s ease;
    /* 1.5s ease when mouse is moved off of image */
}

/* Styles for the image in the character section */
#jessamine-img {
    width: 80%;
    width: 15vw;
    height: auto;
    justify-content: flex-start;
    flex-direction: row;
    transition: transform 1.5s ease;
    /* 1.5s ease when mouse is moved off of image */
}

/* Styles for the image in the character section */
#sarah-img {
    width: 80%;
    width: 15vw;
    height: auto;
    justify-content: flex-start;
    flex-direction: row;
    transition: transform 1.5s ease;
    /* 1.5s ease when mouse is moved off of image */
}

/* Styles for the image in the character section */
#mathis-img {
    width: 80%;
    width: 15vw;
    height: auto;
    justify-content: flex-start;
    flex-direction: row;
    transition: transform 1.5s ease;
    /* 1.5s ease when mouse is moved off of image */
}

/* Styles for the image containers */
.img-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* center-aligns the text in the image containers */
    width: 20%;
    /* sets width to each image container to 20% to display 5 images in a row */
}

    /* Styles for the image in the character section */
    .img-container1 img {
        width: 100%;
        /* makes sure the images take up the full width of their containers */
        height: auto;
        transition: transform 1.5s ease;
    }

    /* Hover effect for the images */
    .img-container1 img:hover {
        transform: translateY(-5px) rotateY(-10deg) scale(1.25);
        /* adjusts hover effect for the images in the image containers */
    }

    /* Styles for the paragraphs and ordered list in the characters section */
    .img-container1 ul {
        color: white;
        font-size: 15px;
        list-style-type: square;
        text-align: left;
        /* align the unordered list items to the left */
        margin-top: 10px;
        /* adds top margin of 10 pixels for spacing */
    }